<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site_title }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
<!--NAVIGATION BAR-->
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">{{ site_title }}</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
	$(function() {
		function search() {
            const query=$("#search").find("input[name=search]").val();
            const limit=$("#search").find("input[name=limit]").val();
            $.get("/calcProfiling?q=" + encodeURIComponent(query)+"&lmt="+ encodeURIComponent(limit) ,
                    function (data) {
                        const t = $("table#results tbody").empty();
                        if (!data || data.length == 0) return;
                        data.forEach(function (record, index) {
                            $("<tr><td class='results'>" + record.title
                                + "</td><td>" + record.author
                                + "</td><td>" + record.own_rel
                                + "</td><td>" + record.other_author
                                + "</td><td>" + record.other_author_rel
                                + "</td></tr>").appendTo(t)
                        });
                    }, "json");
            return false;
        }
		$("#search").submit(search);
        search();
	})
</script>
</head>
  
<body>
	<div class='container'>
	<h1>Query 2: Research Profiling</h1>
    <br>
    <h3><b>Sample Author Names :-</b>  Zheng Xu, Runbin Shi, Zhihao Sun, Yaqi Li, Yuanjia Zhao, Chenjian Wu, Yufei Liang, Yan Zhang, Tao Dong, Shan-wei Lu.</h3>
		<br>
        <form role="search" class="navbar-form" id="search">
            <div class="form-group">
                <input type="text" value="Yan Zhang" placeholder="Keyword" class="form-control" name="search">
                <input type="text" value="10" placeholder="Keyword" class="form-control" name="limit">
            </div>
			<button class="btn btn-default" type="submit">Search</button>
		</form>
	<!-- <p id=results></p> -->
	</div>
	<div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">Search Results</div>
            <table id="results" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Author's Relevance</th>
                    <th>Other Author</th>
                    <th>Other Author's Relevance</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
